.authPage {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}
.header {
  background: #ffffff;
  width: 100%;
  padding: 0.7rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px;
}
.formContainer {
  margin-top: 5rem;
  background: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  width: 100%;
  max-width: 400px;
}
.formContainer h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.primaryBtn {
  background: linear-gradient(to right, #3b82f6, #9333ea);
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.primaryBtnDisable {
  background: linear-gradient(to right, #9bbcfb, #c6a5f3);
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  cursor: not-allowed;
  opacity: 0.6;
}
.primaryBtn:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
.wallBox {
  margin: 1.8rem 0;
  display: flex;
  align-items: center;
  gap: 10;
}
.wallBox div {
  background: #d9d9d9;
  height: 1px;
  width: 100%;
}
.googleBtn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  background: white;
  color: #4b5563;
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: 1px solid #d1d5db;
  cursor: pointer;
  transition: all 0.3s ease;
}
.googleIcon {
  width: 18px;
  height: 18px;
}
.googleBtn:hover {
  border: 1px solid #0a0b0d;
}
.footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
  line-height: 1.5;
}
.footer a {
  text-decoration: underline;
  color: #3b82f6;
}

.otpResend {
  cursor: pointer;
  color: #878787;
  font-weight: 600;
}

@media (max-width: 768px) {
  .authPage {
    background: #ffffff;
  }
  .header {
    padding: 0.7rem 1rem;
  }
  .headerActions {
    font-size: 13px;
  }
}
